{# default route maps and prefix lists#}
{{''}}
ip prefix-list pl_DEFAULT_ONLY_4 seq 10 permit 0.0.0.0/0
ip prefix-list pl_DEFAULT_ONLY_4 seq 20 deny any
!
ipv6 prefix-list pl_DEFAULT_ONLY_6 seq 10 permit ::/0
ipv6 prefix-list pl_DEFAULT_ONLY_6 seq 20 deny any
!
route-map rm_DEFAULT_ONLY_4 permit 10
 match ip address prefix-list pl_DEFAULT_ONLY_4
!
route-map rm_DEFAULT_ONLY_4 deny 20
!
route-map rm_DEFAULT_ONLY_6 permit 10
 match ipv6 address prefix-list pl_DEFAULT_ONLY_6
!
route-map rm_DEFAULT_ONLY_6 deny 20
!
route-map rm_LOOPBACK_ONLY permit 10
 match interface lo
!
route-map rm_LOOPBACK_ONLY deny 20
!
